analysis_out
analysis_out_steffen_short
checkpoint
configs
configs_plasticity
configs2
extra_folder
gauss_datasets
results
.julia_depot
thesis_plots/
test
# large generated plots
acc_traj_3d.pdf
*.pdf

# large generated plots
acc_traj_3d.pdf
*.pdf
